@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Custom range input styling for split view slider */
.split-view-slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: ew-resize;
  height: 100%;
  width: 100%;
}

.split-view-slider::-webkit-slider-track {
  background: transparent;
}

.split-view-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  height: 100%;
  width: 4px;
  cursor: ew-resize;
}

.split-view-slider::-moz-range-track {
  background: transparent;
}

.split-view-slider::-moz-range-thumb {
  background: transparent;
  border: none;
  height: 100%;
  width: 4px;
  cursor: ew-resize;
}

